<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iGap">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- required for drawer contacts fragment -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".G"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.ActivityChat"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />


        <activity
            android:name=".activitys.ActivityShearedMedia"
            android:configChanges="keyboard|keyboardHidden|screenSize|locale">

        </activity>

        <activity
            android:name=".activitys.ActivityPaint"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale">
        </activity>


        <activity
            android:name=".activitys.ActivityShowImage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale">

        </activity>

        <activity
            android:name=".activitys.ActivityExplorer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale">

        </activity>

        <activity
            android:name=".activitys.ActivityComment"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale" />

        <activity
            android:name=".activitys.ActivityMain"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale"></activity>
        <activity
            android:name=".activitys.ActivityIntroduce"
            android:configChanges="keyboard|keyboardHidden|screenSize|locale">

        </activity>
        <activity
            android:name=".activitys.ActivityProfile"
            android:configChanges="keyboard|keyboardHidden|screenSize|locale">


        </activity>
        <activity android:name=".activitys.ActivityCrop" />

        <activity android:name=".activitys.ActivitySettingNotification">

        </activity>

        <activity
            android:name=".activitys.ActivityRegister"
            android:configChanges="keyboard|keyboardHidden|screenSize|locale"
            android:windowSoftInputMode="adjustPan|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme22" />

        <activity android:name=".activitys.ActivitySetting">

        </activity>

        <activity android:name=".activitys.ActivityContactsProfile"></activity>
        <activity
            android:name=".activitys.ActivitySelectChat"
            android:label="@string/select_room" />

        <receiver android:name=".module.IncomingSms" />
        <receiver android:name="com.iGap.module.ReceiverInternet">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>